body {
  font-family: Arial, Helvetica, sans-serif;
}

table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}

tbody tr:hover {
  background-color: #eee;
}

th:hover {
  cursor: pointer;
  text-decoration: underline;
  color: darkgreen;
}